<div>
    <main>
        <section>
            {{> title data=name giant=true}}

            <div class="mb-4">
                <pre><strong>{{birthdate}}</strong> <em>({{birthplace}})</em> - <strong>{{deathdate}}</strong> <em>({{deathplace}})</em></pre>
            </div>            

            <div class="mb-1">
                <strong>Nationality: </strong>
                <em>{{nationality}}</em>    
            </div>

            <div class="mb-1">
                <strong>Occupation: </strong>
                <em>{{occupation}}</em>
            </div>

            <div class="mt-3">
                <strong>Known for:</strong>
                <ul>
                    {{#each known_for}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>

        <hr>

        <section>
            {{> title data="Education" big=false}}
            <ul>
                {{#each education}}
                    <li>
                        <div>
                            <strong>Degree:</strong>
                            <em>{{degree}}</em> in
                            <em>
                                {{field}}
                            </em>
                        </div>                        

                        <div>
                            {{institution}}, {{year}}
                        </div>    
                    </li>
                {{/each}}
            </ul>
        </section>
        
        <hr>

        <section>
            {{> title data="Notable publications" big=false}}
            <ul>
                {{#each notable_publications}}
                    <li class="mb-2">
                        "{{title}}"

                        <div class="mt-1">
                            <em>
                                Published by {{publisher}} in {{year}}.
                            </em>
                        </div>                       
                    </li>
                {{/each}}
            </ul>
        </section>
        
        <hr>

        <section>
            {{> title data="Life partners" big=false}}
            <ul>
                {{#each partners}}
                    <li>
                        {{name}} is {{relationship}} during {{years}}
                    </li>                    
                {{/each}}
            </ul>

        </section>

        <hr>

        <section>
            {{> title data="Awards"}}
            <ul>
                {{#each awards}}
                    <li>
                        "<strong>{{title}}</strong>", {{year}}
                        <div>
                            <em>{{description}}</em>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </section>
        
        <hr>

        <section>
            {{> title data="Influences"}}
            <ul>
                {{#each influences}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </section>
        
        <hr>

        <section>
            {{> title data="Influenced" big=false}}
            <ul>
                {{#each influenced}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </section>
        
        <hr>

        <section>
            {{> title data="Quotes"}}
                {{#each quotes}}
                    <p class="ms-3">
                        <q>
                            <em>{{this}}
                            </em>
                        </q>       
                    </p>
                {{/each}}
        </section>
        
        <hr>

        <section>
            {{> title data="Major discoveries"}}
            <ul>
                {{#each major_discoveries}}
                    <li>
                        <strong>
                            "{{title}}"
                        </strong>
                        (<em>
                            made in {{year}})
                        </em>                                                                       
                        <div class="mt-2">
                            {{description}}
                        </div>                        
                    </li>
                {{/each}}
            </ul>

        </section>
        
        <hr>

        <section class="mb-5">
            {{> title data="Contributions" big=false}}
            <div>
                {{#with contributions}}
                    <div class="mb-2">
                        <strong>{{title}}</strong>
                    </div>
                    <p>
                        {{description}}
                    </p>
                    <div>
                        <em>
                            in period of {{year}} in {{field}} field
                        </em>
                    </div>                    
                {{/with}}
            </div>
        </section>   
    </main>
</div>