<main>
    {{> title data=make giant=true}}

    <div>
        Model:
        {{model}}
    </div>
    <div>
        Year of release:
        {{year}}
    </div>
    <div>
        Color:
        {{color}}
    </div>

    <hr>
    <hr>
    <hr>

    <section>
        {{> title data='Features' big=true}}

        <hr>
        <hr>

        <div class="ms-5">
            {{#with features}}

                <section class="mb-4">
                    {{> title data='Interior' big=false}}

                    <hr>

                    <div class="ms-5">
                        {{#with interior}}
                            <div class="mb-3">
                                {{#with seats}}

                                    <h4>Seats</h4>

                                    <div class="ms-3">
                                        <div>
                                            Material:
                                            <em>
                                                {{material}}
                                            </em>
                                        </div>
                                        <div>
                                            Color:
                                            <em>
                                                {{color}}
                                            </em>
                                        </div>
                                        <div>
                                            {{#if heated}}
                                                <em>
                                                    Heated
                                                </em>
                                            {{/if}}
                                        </div>
                                        <div>
                                            {{#if ventilated}}
                                                <em>
                                                    Ventilated
                                                </em>
                                            {{/if}}
                                        </div>
                                    </div>
                                {{/with}}
                            </div>

                            <div class="mb-3">
                                {{#with dashboard}}
                                
                                    <h4>Dashboard</h4>

                                    <div class="ms-3">
                                        <div>
                                            Material:
                                            <em>
                                                {{material}}
                                            </em>
                                        </div>
                                        <div>
                                            Color:
                                            <em>
                                                {{color}}
                                            </em>
                                        </div>

                                        <div>
                                            {{#with display}}
                                                <div>
                                                    Type:
                                                    <em>
                                                        {{type}}
                                                    </em>
                                                </div>
                                                <div>
                                                    Size:
                                                    <em>
                                                        {{size}}
                                                    </em>
                                                </div>
                                                <div>
                                                    Resolution:
                                                    <em>
                                                        {{resolution}}
                                                    </em>
                                                </div>
                                                {{#if touchscreen}}
                                                    <div>
                                                        Touchscreen
                                                    </div>
                                                {{/if}}
                                            {{/with}}
                                        </div>
                                    </div>                                
                                {{/with}}
                            </div>

                            <div>
                                {{#with audio}}
                                    
                                    <h4>Audio</h4>

                                    <div class="ms-3">
                                        <div>
                                            System:
                                            <em>
                                                {{system}}
                                            </em>
                                        </div>                                        
                                        <div>
                                            Speakers:
                                            <em>
                                                {{speakers}}
                                            </em>
                                        </div>
                                        <div>
                                            {{#if subwoofer}}
                                                {{#if bluetooth}}
                                                    {{#if USB}}                                 
                                                        Bluetooth, subwoofer, USB
                                                    {{else}}
                                                        Bluetooth, subwoofer
                                                    {{/if}}
                                                {{else}}
                                                    {{#if USB}}                                 
                                                        Subwoofer, USB
                                                    {{else}}
                                                        Subwoofer
                                                    {{/if}}
                                                {{/if}}
                                            {{else}}
                                                {{#if bluetooth}}
                                                    {{#if USB}}                          
                                                    Bluetooth, USB
                                                    {{else}}
                                                        Bluetooth
                                                    {{/if}}
                                                {{else}}
                                                    {{#if USB}}                          
                                                    USB
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        </div>
                                    </div>
                                {{/with}}
                            </div>    
                        {{/with}}
                    </div>
                </section>

                <section>
                    {{> title data="Exterior" big=false}}

                    <hr>

                    <div class="ms-5">
                        {{#with exterior}}
                            <div class="mb-3">
                                <h4>Wheels</h4>

                                <div class="ms-3">
                                    {{#with wheels}}
                                        <div>
                                            Size:
                                            {{size}}
                                        </div>
                                        <div>
                                            Type:
                                            {{type}}
                                        </div>
                                        <div>
                                            Color:
                                            {{color}}
                                        </div>
                                    {{/with}}
                                </div>
                            </div>

                            <div class="mb-3">
                                <h4>Headlights</h4>
                            
                                <div class="ms-3">
                                    {{#with headlights}}
                                        <div>
                                            Type:
                                            {{type}}
                                        </div>
                                        <div>
                                            Brightness:
                                            {{brightness}}
                                        </div>
                                        {{#if automatic}}
                                            <div>
                                                Automatic
                                            </div>
                                        {{/if}}
                                    {{/with}}
                                </div>
                            </div>

                            <div>
                                <h4>Sunroof</h4>
                            
                                <div class="ms-3">
                                    {{#with sunroof}}
                                        <div>
                                            Type:
                                            {{type}}
                                        </div>
                                        <div>
                                            Size:
                                            {{size}}
                                        </div>
                                        {{#if automatic}}
                                            <div>
                                                Automatic
                                            </div>
                                        {{/if}}
                                    {{/with}}
                                </div>
                            </div>
                        {{/with}}
                    </div>
                </section>

                <section class="mt-3">
                    {{> title data="Safety" big=false}}

                    <hr>

                    {{#with safety}}
                        <div class="ms-5 mb-3">
                            <h4>Airbags</h4>

                            <div class="ms-3">
                                {{#with airbags}}
                                    <div>
                                        Front:
                                        {{front}}
                                    </div>
                                    <div>
                                        Side:
                                        {{side}}
                                    </div>
                                    <div>
                                        Knee:
                                        {{knee}}
                                    </div>
                                    <div>
                                        Rear:
                                        {{rear}}
                                    </div>
                                {{/with}}
                            </div>
                        </div>

                        <div class="ms-5">
                            <h4>Assistance</h4>

                            <div class="ms-3">
                                {{#with assistance}}
                                    {{#if blind_spot_monitoring}}
                                        <div>
                                            Blind spot monitoring
                                        </div>
                                    {{/if}}
                                    {{#if rear_cross_traffic_alert}}
                                        <div>
                                            Rear cross traffic alert
                                        </div>
                                    {{/if}}
                                    {{#if lane_departure_warning}}
                                        <div>
                                            Lane departure warning
                                        </div>                                      
                                    {{/if}}
                                    {{#if adaptive_cruise_control}}
                                        <div>
                                            Adaptive cruise control
                                        </div>                                       
                                    {{/if}}
                                    {{#if collision_warning}}
                                        <div>
                                            Collision warning
                                        </div>                                        
                                    {{/if}}
                                {{/with}}
                            </div>
                        </div>    
                    {{/with}}
                </section>
            {{/with}}
        </div>
    </section>

    <section class="mt-4">
        {{> title data="Engine" big=true}}

        <hr>
        <hr>

        <div class="ms-3">
            {{#with engine}}
                <div>
                    Type:
                    {{type}}
                </div>
                <div>
                    Displacement:
                    {{displacement}}
                </div>
                <div>
                    Horsepower:
                    {{horsepower}}
                </div>
                <div>
                    Torque:
                    {{torque}}
                </div>
                <div>
                    {{#with transmission}}
                        <div>
                            Type:
                            {{type}}
                        </div>
                        <div>
                            Gears:
                            {{gears}}
                        </div>
                    {{/with}}
                </div>
            {{/with}}
        </div>
    </section>

    <section class="mt-4">
        {{> title data="Fuel economy" big=true}}

        <hr>
        <hr>

        <div class="ms-3">
            {{#with fuel_economy}}
                <div>
                    City:
                    {{city}}
                </div>
                <div>
                    Highway:
                    {{highway}}
                </div>
                <div>
                    Combined:
                    {{combined}}
                </div>
            {{/with}} 
        </div>
    </section>

    <section class="mt-4">
        {{> title data="Price" big=true}}

        <hr>
        <hr>

        <div class="ms-3 mb-5">
            {{#with price}}
                <div>
                    Base:
                    {{base}}
                </div>
                <div>
                    Destination:
                    {{destination}}
                </div>
                <div>
                    {{#with options}}
                        <div>
                            Navigation:
                            {{navigation}}
                        </div>
                        <div>
                            Moonroof:
                            {{moonroof}}
                        </div>
                        <div>
                            Premium paint:
                            {{premium_paint}}
                        </div>
                    {{/with}}
                </div>
                <div class="mt-3">
                    <b>
                        <big>
                            Total:
                            {{total}}
                        </big>
                    </b>
                </div>
            {{/with}} 
        </div>
    </section>


</main>