<main>
    {{> title data=name giant=true}}
    <hr class="mb-4">

    <section>
        <div>
            <em>
                <strong>
                    About {{name}}
                </strong>
            </em>
        </div>
        <p class="mt-3">
            {{description}}
        </p>
    </section>

    <hr class="mt-4">

    <section>
        {{> title data="History" big=true}}
        <div>
            {{#with history}}
                Was founded in {{year}} by {{founder}}
            {{/with}}
        </div>
    </section> 

    <hr class="mt-4">

    {{> section section="Types" hasName=false things=types}}

    <hr class="mt-4">

    <section>
        {{> title data="Syntax" big=true}}

        <div class="ms-3">
            {{#with syntax}}
                {{> list withName=true name='Variables' items=variables}}
                {{> list withName=true name='Functions' items=functions}}
                {{> list withName=true name='Conditionals' items=conditionals}}
                {{> list withName=true name='Loops' items=loops}}
                {{> list withName=true name='Classes' items=classes}}
            {{/with}}
        </div>
    </section>

    <hr class="mt-4">

    {{> section section="Features" hasName=false things=features}}

    <hr class="mt-4">

    {{> section section="Libraries" hasName=false things=libraries}}

    <hr class="mt-4">

    {{> section section="Tools" hasName=false things=tools}}

    <hr class="mt-4">

    
    <section>
        {{> title data="Community" big=true}}

        <div class="row mt-4">
            <div class="col-4">
                <table class="table table-bordered mb-5">
                    <caption class="mt-1">Community</caption>
                    <thead>        
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Type
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each community}}
                            <tr>
                                <td>
                                    {{name}}
                                </td>
                                <td>
                                    {{type}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
         </div>
    </section>

</main>