<main class="mb-5">
    {{#with person}}
        {{> title data=name giant=true}}
        <div class="mb-4 ms-3">
            <i>{{age}} years old | {{gender}}</i>
        </div>          

        <div class="ms-3">
            <address>
                <div class="mb-1">
                    <i>Address:</i>
                </div>
                {{#with address}}
                    <div>{{street}}</div>
                    <div>{{city}} {{state}} {{zip}}</div>
                    <div>{{country}}</div>
                {{/with}}
            </address>
        </div>
        
        <hr>

        <section>
            {{> title data="Education" big=true}}

            <div>
                <ul>
                    {{#each education}}
                        <li>
                            <div>
                                <p>
                                    <strong>
                                        {{university}}
                                    </strong>
                                </p>
                            </div>
                            <div>
                                <p>
                                    {{degree}} in {{major}}
                                </p>
                            </div>
                            <div>
                                <em>Graduated in {{graduationYear}}</em>
                            </div>                            
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>

        <hr>

        <section>
            {{> title data="Work Experience" big=true}}

            <div>
                <ul>
                    {{#each workExperience}}
                        <li>
                            <div>
                                <strong>{{title}}</strong> in <b><em>{{company}}</em></b>                                

                                <div class="mt-1 mb-4">
                                    <em>
                                        {{startDate}} - {{endDate}}
                                    </em>
                                </div>
                                                                
                                <div class="mb-2">                                                                                                         
                                    <div class="mb-1">
                                        <strong>Duties:</strong>   
                                    </div>
                                    <ul>
                                        {{#each responsibilities}}
                                            <li class="mb-1">
                                                <em>
                                                    {{this}}
                                                </em>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                
                                <div class="mt-4">                                    
                                    <em>More about <strong>{{company}}</strong> company:</em>                                    

                                    <div class="ms-3">
                                        <div class="mt-1">
                                            Founded in {{year_founded}}
                                        </div>
                                        <div class="mt-1 mb-2">
                                            Industry: {{industry}}
                                        </div>

                                        <div>
                                            <strong>
                                                <em>Employees:</em>
                                            </strong>

                                            <ul class="mt-1">
                                                {{#each employees}}
                                                    <li>
                                                        <div class="mb-1">
                                                            {{name}}
                                                        </div>
                                                        <div class="mb-1">
                                                            {{position}},
                                                        </div>
                                                        <div class="mb-2">
                                                            <i>Department: {{department}}</i>
                                                        </div>               

                                                        <div>
                                                            <strong>
                                                                <em>Projects:</em>
                                                            </strong>                                                                                                                    
                                                            <ul class="mt-1">
                                                                {{#each projects}}
                                                                    <li>
                                                                        <div>
                                                                            <strong>{{name}}</strong> <em>({{status}})</em>
                                                                        </div>
                                                                        <div>
                                                                            
                                                                        </div>
                                                                        
                                                                        <div class="my-2">
                                                                            <strong>Description: </strong>
                                                                            <em>
                                                                                {{description}}
                                                                            </em>
                                                                        </div>
                                                                        
                                                                        <div>
                                                                            <strong>Teams: </strong>
                                                                                                                                                    
                                                                            <ul>
                                                                                {{#each teams}}
                                                                                    <li class="mt-1">
                                                                                        <div class="mb-1">
                                                                                            <b>
                                                                                                {{team_name}}
                                                                                            </b>
                                                                                        </div>
                                                                                        <div class="mb-1">
                                                                                            {{#with team_leader}}
                                                                                                <b>
                                                                                                    {{title}}:
                                                                                                </b>
                                                                                                {{name}} <em>(email: {{email}})</em>
                                                                                            {{/with}}    
                                                                                        </div>
                                                                                                                                                                        
                                                                                        <div>
                                                                                            <strong>Team members:</strong>
                                                                                                                                                                            
                                                                                            <ul class="mt-1">
                                                                                                {{#each team_members}}
                                                                                                    <li>
                                                                                                        {{name}}                                                                                                        
                                                                                                        <em>{{title}}</em>                                                                                                                                                                                                                                                                                                            
                                                                                                        <div class="mt-2">
                                                                                                            <b>
                                                                                                                <em>
                                                                                                                    Skills:
                                                                                                                </em>
                                                                                                            </b>                                                                                                                                                                                                                                                                                                                            
                                                                                                            <ul>
                                                                                                                {{#each skills}}
                                                                                                                    <li>
                                                                                                                        {{this}}
                                                                                                                    </li>
                                                                                                                {{/each}}
                                                                                                            </ul>
                                                                                                        </div>                                                                                                        
                                                                                                        <div class="mt-2">
                                                                                                            <b>
                                                                                                                <em>
                                                                                                                    Projects:
                                                                                                                </em>
                                                                                                            </b>                                                                                                                                                                                                                

                                                                                                            <div>
                                                                                                                <ul>
                                                                                                                    {{#each projects}}
                                                                                                                        <li class="mt-1">
                                                                                                                            {{name}}
                                                                                                                            <div class="my-1">
                                                                                                                                Description:
                                                                                                                                <em>
                                                                                                                                    {{description}}
                                                                                                                                </em>
                                                                                                                            </div>
                                                                                                                            <div class="mt-2">
                                                                                                                                <strong>
                                                                                                                                    <em>
                                                                                                                                        Technologies:
                                                                                                                                    </em>
                                                                                                                                </strong>
                                                                                                                                <ul class="my-1">
                                                                                                                                    {{#each technologies}}
                                                                                                                                        <li>
                                                                                                                                            {{this}}
                                                                                                                                        </li>
                                                                                                                                    {{/each}}
                                                                                                                                </ul>
                                                                                                                            </div>
                                                                                                                            
                                                                                                                            <div class="mt-2">
                                                                                                                                <strong>
                                                                                                                                    <em>
                                                                                                                                        Team members:
                                                                                                                                    </em>
                                                                                                                                </strong>
                                                                                                                                <ul>
                                                                                                                                    {{#each team_members}}
                                                                                                                                        <li class="mt-1">
                                                                                                                                            <div>
                                                                                                                                                {{name}}
                                                                                                                                            </div>
                                                                                                                                            <div>
                                                                                                                                                <em>{{title}}</em>
                                                                                                                                            </div>
                                                                                                                                        </li>
                                                                                                                                        
                                                                                                                                    {{/each}}
                                                                                                                                </ul>
                                                                                                                            </div>
                                                                                                                        </li>
                                                                                                                    {{/each}}
                                                                                                                </ul>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    </li>
                                                                                                {{/each}}
                                                                                            </ul>
                                                                                        </div>

                                                                                    </li>
                                                                                {{/each}}
                                                                            </ul>
                                                                        </div>

                                                                    </li>
                                                                {{/each}}
                                                            </ul>
                                                        </div>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>    
  {{/with}}
</main>  