<main class="mb-5">
    {{#with program}}
      {{> title data="Program" giant=true}}
      <hr class="mb-3">
        <section>
            {{> title data='Excursion' big=true}}
            {{#with excursion}}
                <div class="mb-4">
                    <strong>{{name}}</strong> in 
                    {{#with location}}
                        <em>
                            <b>
                                {{city}}, {{country}}
                            </b>
                        </em>
                    {{/with}}
                    on 
                    <em>
                        <b>
                            {{date}}
                        </b>
                    </em>
                </div>                            
                <div>
                    <em>
                        {{> title data="Program"}}
                    </em>
                    <ul class="mt-4 mt-4">
                        {{#each program}}
                            <li class="mb-4">
                                <div>
                                    <h5>
                                        {{name}}
                                    </h5>
                                </div>
                                <div>
                                    Type: 
                                    <em>
                                        {{type}}
                                    </em>
                                </div>
                                <div class="mb-2">
                                    Duration:
                                    <em>
                                        {{duration}}
                                    </em>
                                </div>

                                <div>
                                    {{#with details}}
                                        {{#with museum}}
                                            <div>
                                                <h5>{{name}}</h5>
                                                <div>  
                                                    {{> location address=address city=city country=country}}                                             
                                                </div>                                                
                                                <div>
                                                    <h5>
                                                        <em>
                                                            Exhibits:
                                                        </em>
                                                    </h5>
                                                    <ul class="mt-3">
                                                        {{#each exhibits}}
                                                            <li class="mb-3">
                                                                <h5>{{name}}</h5>
                                                                {{#if artist includeZero=true}}
                                                                    <div class="mb-1">
                                                                        Artist:
                                                                        <em>
                                                                            {{artist}}
                                                                        </em>
                                                                    </div>                                                                    
                                                                {{/if}}
                                                                <div class="mb-1">
                                                                    Description:
                                                                    {{description}}
                                                                </div>
                                                                {{#if audio_guide}}
                                                                    <div class="mb-1">                                                                        
                                                                        With audio guide
                                                                    </div>
                                                                {{/if}}                                                                
                                                            </li>
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                            </div>    
                                        {{/with}}
                                </div>
                                {{#with venue}}
                                    <div>                                            
                                        <div>
                                            Venue: 
                                            <em>
                                                <b>
                                                    {{name}}
                                                </b>
                                            </em>
                                        </div>
                                        <div class="mt-2">
                                            {{> location address=address city=city country=country}}
                                        </div>
                                    </div>
                                {{/with}}

                                {{#if performers}}  
                                    <div>                                            
                                        <strong>Performers</strong>                                      
                                            <ul class="mt-2">                                                
                                                {{#each performers}}
                                                    <li class="mb-2">
                                                        <div>
                                                            <b>
                                                                {{name}}
                                                            </b>
                                                        </div>    
                                                        <div class="mt-1">
                                                            <em>
                                                                {{type}}
                                                            </em>
                                                        </div>                                                        
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        </div>                                            
                                    {{/if}}
                                    <div class="mt-4">
                                        {{#with guide}}
                                            <h5>Guide</h5>
                                            <div>
                                                Name: 
                                                <em>
                                                    {{name}}
                                                </em>
                                            </div>
                                            <div>
                                                Language:
                                                <em>
                                                    {{language}}
                                                </em>
                                            </div>
                                            <div>
                                                Rate:
                                                {{rating}}
                                            </div>
                                        {{/with}}
                                    </div>
                                {{/with}}                                
                            </li>                            
                        {{/each}}
                    </ul>
                </div>
            {{/with}}
        </section>
    {{/with}}
</main>