<main>

  <div class='card'>
    <div class='nav'>
      {{#with navigation}}
        <div class='nav-item m-1'>
          <a
            href={{links.0.href}}
            class='nav-link'
          >{{links.0.text}}</a>
        </div>
        <div class='nav-item m-1'>
          <a
            href={{links.1.href}}
            class='nav-link'
          >{{links.1.text}}</a>
        </div>
        <div class='nav-item m-1'>
          <a
            href={{links.2.href}}
            class='nav-link disabled'
          >{{links.2.text}}</a>
        </div>
      {{/with}}
    </div>
  </div>

  <section>
    {{#with newsBlock}}
      <h5 class='text-center mt-5 mb-3'>{{title}}</h5>

      <div class='row px-2'>
        {{#each cards}}
          <div class='card col-3 text-bg-dark gy-3'>
            <div class='card-header'>
              {{title}}
              {{#if isNew}}
                <span
                  class='badge bg-success rounded-pill'
                >Нова</span>
              {{/if}}
              {{#if isTop}}
                <span
                  class='badge bg-danger rounded-pill'
                >Топ</span>
              {{/if}}
            </div>
            <div class='card-body'>
              {{description}}
            </div>
          </div>
        {{/each}}
      </div>

    {{/with}}
  </section>

  <hr class='my-5' />

  <section>
    {{#with goodsBlock}}
      <div class='nav nav-tabs mb-5'>
        <div class='nav-item'>
          <a
            href='#'
            class='nav-link active'
          >{{tabs.0.text}}</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link'>{{tabs.1.text}}</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link'>{{tabs.2.text}}</a>
        </div>
        <div class='nav-item' disabled>
          <a
            href='#'
            class='nav-link disabled'
          >{{tabs.3.text}}</a>
        </div>
      </div>

      <div class='row gy-4 px-2'>
        {{#each cards}}
          <div class='card col-4'>
            <img src={{image}} class='card-img-top' />
            <div class='card-body'>
              <h5 class='mb-2'>{{title}}
                {{#if isHot}}
                  <span
                    class='badge bg-warning rounded-pill text-uppercase'
                  >Hot!</span>
                {{/if}}
                {{#if isNew}}
                  <span
                    class='badge bg-success rounded-pill'
                  >Нове</span>
                {{/if}}
              </h5>
              <p>
                {{description}}
              </p>
            </div>
          </div>
        {{/each}}
      </div>

    {{/with}}

  </section>

  <hr class='my-5' />

  <section>
    {{#with subscribe}}
      <div class='card text-bg-dark'>
        <div>
          <h2 class='m-3'>{{header}}</h2>
        </div>
        <p class='ms-3'>
          {{description}}
        </p>
        {{#each buttons}}
          <div class='ms-3 mb-3'>
            <a
              href={{link}}
              class='btn btn-primary'
            >{{text}}</a>
          </div>
        {{/each}}
      </div>
    {{/with}}
  </section>

  <hr class='my-5' />

  <section>
    {{#with service}}
      <div class='card text-bg-success text-center'>
        <h2 class='my-3'>{{title}}</h2>
        <p>
          {{description}}
        </p>
        {{#each buttons}}
          <div class='mb-3'>
            <a
              href={{link}}
              class='btn btn-primary'
            >{{text}}</a>
          </div>
        {{/each}}
      </div>
    {{/with}}
  </section>

  <hr class='mt-5 mb-3' />

  {{! Такий варінт теж працює, але без disabled}}
  {{!-- <footer>
    <div class='nav row'>
      {{#each footer}}
        <div class='col-2'>
          {{#with this}}
            {{#each this}}
              <div class='nav-item'>
                <a
                  href={{link}}
                  class='nav-link'
                >{{text}}</a>
              </div>
            {{/each}}
          {{/with}}
        </div>
      {{/each}}
    </div>
  </footer> --}}


  {{!-- without flex-column  --}}
  {{!-- <footer>
    <div class='nav row'>

      <div class='col-2 nav-item'>
        <a
          href={{footer.0.0.link}}
          class='nav-link'
        >{{footer.0.0.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.1.0.link}}
          class='nav-link'
        >{{footer.1.0.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.2.0.link}}
          class='nav-link'
        >{{footer.2.0.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.3.0.link}}
          class='nav-link'
        >{{footer.3.0.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.4.0.link}}
          class='nav-link'
        >{{footer.4.0.text}}</a>
      </div>

      <div class='col-2'></div>

      <div class='col-2 nav-item mb-3'>
        <a
          href={{footer.0.1.link}}
          class='nav-link'
        >{{footer.0.1.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.1.1.link}}
          class='nav-link'
        >{{footer.1.1.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.2.1.link}}
          class='nav-link'
        >{{footer.2.1.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.3.1.link}}
          class='nav-link'
        >{{footer.3.1.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.4.1.link}}
          class='nav-link'
        >{{footer.4.1.text}}</a>
      </div>

      <div class='col-2'></div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.0.2.link}}
          class='nav-link'
        >{{footer.0.2.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.1.2.link}}
          class='nav-link'
        >{{footer.1.2.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.2.2.link}}
          class='nav-link'
        >{{footer.2.2.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.3.2.link}}
          class='nav-link'
        >{{footer.3.2.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.4.2.link}}
          class='nav-link'
        >{{footer.4.2.text}}</a>
      </div>

      <div class='col-2'></div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.0.3.link}}
          class='nav-link disabled'
        >{{footer.0.3.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.1.3.link}}
          class='nav-link disabled'
        >{{footer.1.3.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.2.3.link}}
          class='nav-link disabled'
        >{{footer.2.3.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.3.3.link}}
          class='nav-link disabled'
        >{{footer.3.3.text}}</a>
      </div>

      <div class='col-2 nav-item'>
        <a
          href={{footer.4.3.link}}
          class='nav-link disabled'
        >{{footer.4.3.text}}</a>
      </div>

      <div class='col-2'></div>

    </div>
  </footer> --}}

  <footer>
    <div class='nav row'>

      <div class='nav flex-column col-1'>
        <div class='nav-item'>
          <a
            href={{footer.0.0.link}}
            class='nav-link'
          >{{footer.0.0.text}}</a>
        </div>

        <div class='nav-item'>
          <a
            href={{footer.0.1.link}}
            class='nav-link'
          >{{footer.0.1.text}}</a>
        </div>

        <div class='nav-item'>
          <a
            href={{footer.0.2.link}}
            class='nav-link'
          >{{footer.0.2.text}}</a>
        </div>

        <div class='nav-item'>
          <a
            href={{footer.0.3.link}}
            class='nav-link disabled'
          >{{footer.0.3.text}}</a>
        </div>
      </div>

      <div class='col-1'></div>

      <div class='nav flex-column col-1'>
        <div class='nav-item'>
          <a
            href={{footer.1.0.link}}
            class='nav-link'
          >{{footer.1.0.text}}</a>
        </div>

        <div class='nav-item'>
          <a
            href={{footer.1.1.link}}
            class='nav-link'
          >{{footer.1.1.text}}</a>
        </div>

        <div class='nav-item'>
          <a
            href={{footer.2.1.link}}
            class='nav-link'
          >{{footer.2.1.text}}</a>
        </div>

        <div class='nav-item'>
          <a
            href={{footer.3.1.link}}
            class='nav-link disabled'
          >{{footer.3.1.text}}</a>
        </div>
      </div>

      <div class='col-1'></div>

      <div class='nav flex-column col-1'>
        <div class='nav-item'>
          <a
            href={{footer.0.2.link}}
            class='nav-link'
          >{{footer.0.2.text}}</a>
        </div>

        <div class='nav-item'>
          <a
            href={{footer.1.2.link}}
            class='nav-link'
          >{{footer.1.2.text}}</a>
        </div>

        <div class='nav-item'>
          <a
            href={{footer.2.2.link}}
            class='nav-link'
          >{{footer.2.2.text}}</a>
        </div>

        <div class='nav-item'>
          <a
            href={{footer.3.2.link}}
            class='nav-link disabled'
          >{{footer.3.2.text}}</a>
        </div>
      </div>

      <div class='col-1'></div>

      <div class='nav flex-column col-1'>
        <div class='nav-item'>
          <a
            href={{footer.0.3.link}}
            class='nav-link'
          >{{footer.0.3.text}}</a>
        </div>

        <div class='nav-item'>
          <a
            href={{footer.1.3.link}}
            class='nav-link'
          >{{footer.1.3.text}}</a>
        </div>

        <div class='nav-item'>
          <a
            href={{footer.2.3.link}}
            class='nav-link'
          >{{footer.2.3.text}}</a>
        </div>

        <div class='nav-item'>
          <a
            href={{footer.3.3.link}}
            class='nav-link disabled'
          >{{footer.3.3.text}}</a>
        </div>
      </div>

      <div class="col-1"></div>

      <div class="nav flex-column col-1">
        <div class='nav-item'>
            <a
            href={{footer.0.4.link}}
            class='nav-link disabled'
            >{{footer.0.4.text}}</a>
        </div>

        <div class='nav-item'>
            <a
            href={{footer.1.4.link}}
            class='nav-link disabled'
            >{{footer.1.4.text}}</a>
        </div>

        <div class='nav-item'>
            <a
            href={{footer.2.4.link}}
            class='nav-link disabled'
            >{{footer.2.4.text}}</a>
        </div>

        <div class='nav-item'>
            <a
            href={{footer.3.4.link}}
            class='nav-link disabled'
            >{{footer.3.4.text}}</a>
        </div>

      <div class='col-2'></div>

    </div>
  </footer>

</main>