<main>

    {{> shopNavigation navigation=navigation}}

    <section>
        {{#with newsBlock}}
        <h5 class='text-center mt-5 mb-3'>{{title}}</h5>

        <div class='row'>
            {{#each cards}}
                    <div class='card col-3 text-bg-dark gy-3 mx-1 px-0' style="width: 24.1%">
                        <div class='card-header'>
                            {{title}}
                            {{#if isNew}}
                                <span
                                class='badge bg-success rounded-pill'
                                >Нова</span>
                            {{/if}}
                            {{#if isTop}}
                                <span
                                class='badge bg-danger rounded-pill'
                                >Топ</span>
                            {{/if}}
                        </div>
                        <div class='card-body'>
                            {{description}}
                        </div>
                    </div>
            {{/each}}
        </div>

        {{/with}}
    </section>

     <hr class='my-5' />

    <section>
        {{#with goodsBlock}}
            <div class='nav nav-tabs mb-5'>
                {{#each tabs}}
                    {{#if isActive}}
                        <div class='nav-item'>
                            <a
                                href='#'
                                class='nav-link active'
                            >{{text}}</a>
                        </div>

                        {{else if isDisabled}}

                            <div class='nav-item'>
                                <a
                                    href='#'
                                    class='nav-link disabled'
                                >{{text}}</a>
                            </div>

                            {{else}}
                                <div class='nav-item'>
                                    <a
                                        href='#'
                                        class='nav-link'
                                    >{{text}}</a>
                                </div>                
                    {{/if}} 
                {{/each}}    
            </div>

            {{> cardsWithImage cards=cards}}

        {{/with}}
    </section>

    <hr class='my-5' />

    {{> subscribe subscribe=subscribe}}

    <hr class='my-5' />

    {{>services service=service}}

  <hr class='mt-5 mb-3' />

  {{>shopfooter footer=footer}}

</main>