<div>
  <main>
    <div class='card'>
      <div class='card-body'>
        {{#with heading}}
          <div class='card'>
            <div class='card-body'>
              {{#with main}}
                <div class='display-1'>
                  {{title}}
                </div>
                <p class='text-muted'>
                  {{text}}
                </p>
                {{#with button_text}}
                  <div>
                    <button class='btn btn-primary'>
                      {{solid}}
                    </button>
                  </div>
                  <br />
                  <div>
                    <button class='btn btn-outline-primary'>
                      {{outline}}
                    </button>
                  </div>
                {{/with}}
              {{/with}}
            </div>
          </div>
          <br />
          <div class='card'>
            <div class='card-body'>
              {{#with second}}
                <div class='display-2'>
                  {{title}}
                </div>
                <p class='text-secondary'>
                  {{text}}
                </p>
                {{#with button_text}}
                  <div>
                    <button class='btn btn-secondary'>
                      {{solid}}
                    </button>
                  </div>
                  <br />
                  <div>
                    <button
                      class='btn btn-outline-secondary'
                    >
                      {{outline}}
                    </button>
                  </div>
                {{/with}}
              {{/with}}
            </div>
          </div>
          <br />
          <div class='card'>
            <div class='card-body'>
              {{#with subblock}}
                <div class='display-3'>
                  {{title}}
                </div>
                <p class='text-dark'>
                  {{text}}
                </p>
                {{#with button_text}}
                  <div>
                    <button class='btn btn-dark'>
                      {{solid}}
                    </button>
                  </div>
                  <br />
                  <div>
                    <button class='btn btn-outline-dark'>
                      {{outline}}
                    </button>
                  </div>
                {{/with}}
              {{/with}}
            </div>
          </div>
        {{/with}}
      </div>
    </div>

    <br />

    <div class='card'>
      <div class='card-body'>
        {{#with nested_display}}
          <div class='display-1'>
            {{title}}
          </div>
          <div class='card'>
            <div class='card-body'>
              {{#with children_display}}
                <div class='display-4'>
                  {{title}}
                </div>
                <p class='text-muted'>
                  {{text}}
                </p>
                {{#with button}}
                  <div>
                    <button class='btn btn-outline-warning'>
                      {{text}}
                    </button>
                  </div>
                {{/with}}
              {{/with}}
            </div>
          </div>
          <div class='display-6'>
            {{header_text}}
          </div>
          <div>
            {{#with button}}
              <button class='btn btn-info'>
                {{text}}
              </button>
            {{/with}}
          </div>
        {{/with}}
      </div>
    </div>

    <br />

    <div class='card'>
      <div class='card-body'>
        {{#with paragraph}}
          <p class='text-uppercase'>
            {{title}}
          </p>
          <p class='text-lowercase'>
            {{text}}
          </p>
          <div>
            {{#with button}}
              <a href={{url}} class='btn btn-link'>
                {{text}}
              </a>
            {{/with}}
          </div>
          <br />
          <div class='card'>
            <div class='card-body'>
              <ul>
                {{#each list_name}}
                  <li>
                    <a
                      href='{{url}}'
                      class='btn btn-link'
                    >{{text}}</a>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/with}}
      </div>
    </div>

  </main>
</div>