<main class='mb-5'>
  <section class='row'>
    {{#with navigation}}
      {{#each links}}
        <div class='col-1 mt-3'>
          <a
            href={{href}}
            class='btn btn-link mt-3'
            role='button'
          >{{text}}
          </a>
        </div>
        <div class='col-1 mt-3'></div>
      {{/each}}
      <div class='col-6'>
        <div class='mt-4'>
          {{#with button}}
            <a
              href='{{href}}'
              class='btn btn-primary'
              role='button'
            >{{text}}</a>
          {{/with}}
        </div>
      </div>
    {{/with}}
  </section>
  <hr />
  <section class='row'>
    {{#with header}}
      <div class='col-12 mt-5'>
        <h1>{{title}}</h1>
      </div>
      <p class='text-muted mt-4 mb-4'>
        {{description}}
      </p>
      <div class='col-2'>
        {{#with button}}
          <a
            href={{link}}
            class='btn btn-primary mb-5'
            role='button'
          >{{text}}</a>
        {{/with}}
      </div>
    {{/with}}
  </section>
  <hr />
  {{#with city}}
    <h2 class='mt-5 mb-5'>{{title}}</h2>
    <div class='row'>
      {{#each cards}}
        <div class='card col-5 px-0 me-2 mb-4'>
          {{#with picture}}
            <img
              src={{src}}
              class='card-img-top'
              alt={{alt}}
            />
          {{/with}}
          <div class='card-body'>
            <h5 class='card-title text-capitalize mb-3'>
              {{title}}
            </h5>
            <p class='mb-3'>
              {{description}}
            </p>
            {{#with button}}
              <a
                href={{href}}
                class='btn btn-primary'
              >{{text}}</a>
            {{/with}}
          </div>
        </div>
      {{/each}}
      <hr class='mt-5' />
    </div>
  {{/with}}
  <section>
    {{#with winner}}
      <h2 class='my-5'>{{title}}</h2>
      {{#with table}}
        <table class='table mb-5'>
          <thead>
            <tr>
              {{#each head}}
                <th class='text-capitalize'>{{this}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each user}}
              <tr>
                <td>{{place}}</td>
                <td>{{name}}</td>
                <td>{{surname}}</td>
                <td>{{nickname}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/with}}
    {{/with}}
  </section>
  <div class='row'>
    <hr />
  </div>
  <section>
    {{#with gallery}}
      <h2 class='my-5'>{{title}}</h2>
      <div class='row'>
        {{#each cards}}
          <div
            class='card col-4 px-0 me-2'
            style='width:32.5%'
          >
            <div class='card-header'>
              {{name}}
            </div>
            <ul class='list-group list-group-flush'>
              {{#each items}}
                <li class='list-group-item'>
                  {{this}}
                </li>
              {{/each}}
            </ul>
          </div>
        {{/each}}
      </div>
    {{/with}}
  </section>
  <div class='row mt-5 mb-3'>
    <hr />
  </div>
  <section>
    {{#with relaxion}}
      <div class='display-3 mb-4'>
        {{title}}
      </div>
      <div class='row'>
        {{#each cards}}
          <div
            class='card text-bg-secondary col-5 px-0 gy-4 me-2'
            style='width:39%'
          >
            <div class='card-header'>
              {{header}}
            </div>
            <div class='card-body'>
              <h5 class='card-title mb-3'>
                {{title}}
              </h5>
              <p>{{description}}</p>
            </div>
          </div>
        {{/each}}
      </div>
    {{/with}}
  </section>
  <div class='row my-5'>
    <hr />
  </div>
  <section>
    {{#with rest}}
      <div class='row'>
        {{#each cards}}
          <div
            class='card text-center col-6 px-0 me-2'
            style='width: 49.2%'
          >
            <div class='card-header'>
              {{header}}
            </div>
            <div class='card-body'>
              <h5 class='card-title'>{{title}}</h5>
              <p>
                {{description}}
              </p>
              <button
                class='btn btn-primary'
              >{{button}}</button>
            </div>
            <div class='card-footer'>
              {{footer}}
            </div>
          </div>
        {{/each}}
      </div>
    {{/with}}
  </section>
  <div class='row mt-5 mb-3'>
    <hr />
  </div>
  <section>
    {{#with proposition}}
      <div class='display-2 mb-5'>{{title}}</div>
      <div class='row'>
        {{#each card}}
          <div
            class='card text-light bg-warning col-5 px-0 me-2'
          >
            <div class='card-header'>{{header}}</div>
            <div class='card-body'>
              <h5 class='card-subtitle mb-3'>{{title}}</h5>
              <p class='mb-0'>
                {{description}}
              </p>
            </div>
          </div>
        {{/each}}
      </div>
    {{/with}}
  </section>
  <div class='row mt-5 mb-3'>
    <hr />
  </div>
  <section>
    {{#with footer}}
      <div class='row'>
        <h5 class='ps-0 mb-4'>{{title}}</h5>
        <div class='col-1'>
          {{#each navigation}}
            <div>
              <a href={{href}}>{{text}}</a>
            </div>
            <br />
          {{/each}}
        </div>
        <div class='col-2'></div>
        <div class='col-1'>
          {{#each socialMedia}}
            <div>
              <a
                href={{link}}
                class='btn btn-outline-dark'
                type='button'
              >{{name}}</a>
            </div>
            <br />
          {{/each}}
        </div>
        <div class='col-2'></div>
        <div class='col-1'>
          {{#each partners}}
            <div>
              <a
                href={{link}}
                class='btn btn-outline-info'
                style='width: 170px'
              >{{name}}</a>
            </div>
            <br />
          {{/each}}
        </div>
        <div class='col-2'></div>
      </div>
    {{/with}}
  </section>
</main>