<div>
  <main>
    {{#with web}}
        <div>
            {{> title data="Languages" big=true}}
            <hr>
            <ul>
                {{#each languages}}
                    <li>
                        <strong>{{name}}</strong>
                        <br>
                        <br>
                        <div>
                            Version:
                            {{version}}
                        </div>
                        <br>
                        <div>
                            Description:
                            <em>
                                {{description}}
                            </em>
                        </div>
                        <br>
                        {{#if elements}}
                            <div>
                                <b>
                                    <em>Elements:</em>
                                </b>
                                <ul>
                                    {{#each elements}}
                                    <br>
                                        <li>
                                            <div>
                                                <b>
                                                    {{name}}
                                                </b>
                                            </div>
                                            <br>
                                            <div>
                                                Description:
                                                {{description}}
                                            </div>
                                            <br>
                                            <div>
                                                <em>
                                                    Attributes:
                                                </em>
                                                <br>
                                                <br>
                                                <ul>
                                                    {{#each attributes}}
                                                        <li>
                                                            <div>
                                                            {{name}}
                                                            </div>
                                                            <br>
                                                            <div>
                                                                Description: 
                                                                {{description}}
                                                            </div>
                                                            <br>
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </li>
                                    {{/each}}
                                    <br>
                                </ul>
                            </div>
                        {{/if}}

                        {{#if properties}}
                            <div>
                                <b>
                                    <em>Properties:</em>
                                </b>
                                <br>
                                <br>
                                <ul>
                                    {{#each properties}}
                                        <li>
                                            <div>
                                                {{name}}
                                            </div>
                                            <br>
                                            <div>
                                                Description:
                                                {{description}}
                                            </div>
                                            <br>
                                            <div>
                                                <em>
                                                    Values:
                                                </em>
                                                <br>
                                                <br>
                                                <ul>
                                                    {{#each values}}
                                                        <li>
                                                            <div>
                                                                {{value}}
                                                            </div>
                                                            <br>
                                                            <div>
                                                                Description:
                                                                {{description}}
                                                            </div>
                                                            <br>
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </li>
                                        <br>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}

                        {{#if functions}}
                            <div>
                                <b>
                                    <em>
                                        Functions:
                                    </em>
                                </b>
                                <br>
                                <br>
                                <ul>
                                    {{#each functions}}
                                        <li>
                                            <div>
                                                {{name}}
                                            </div>
                                            <br>
                                            <div>
                                                Description:
                                                {{description}}
                                            </div>
                                            <br>
                                            <div>
                                                <em>
                                                    Parameters:
                                                </em>
                                                <br>
                                                <br>
                                                <ul>
                                                    {{#each parameters}}
                                                        <li>
                                                            <div>
                                                                {{name}}
                                                            </div>
                                                            <br>
                                                            <div>
                                                                Type:
                                                                {{type}}
                                                            </div>
                                                            <br>
                                                            <div>
                                                                Description:
                                                                {{description}}
                                                            </div>
                                                            <br>
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}
                    </li>
                    <hr>
                {{/each}}
            </ul>
        </div>
    {{/with}}
  </main>
</div>