<div>
  <main>
    {{#with web}}
        <div>
            {{> title data="Languages" big=true}}
            <hr>
            <br>
            <ul>
                {{#each languages}}
                    <li>
                        <strong>{{name}}</strong>
                        <br>
                        <br>
                        <div>
                            Version:
                            {{version}}
                        </div>
                        <br>
                        <div>
                            Description:
                            <em>
                                {{description}}
                            </em>
                        </div>

                        <br>

                        {{#if elements}}                            
                            <div>
                                <table>
                                    <caption>
                                        <strong>
                                            <em>
                                                Elements
                                            </em>
                                        </strong>
                                    </caption>
                                    <colgroup>
                                        <col>
                                        </col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Attributes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each elements}}
                                        <tr>
                                            <td>
                                                <b>
                                                    {{name}}
                                                </b>
                                            </td>
                                            <td>
                                                {{description}}
                                            </td>
                                            <td>
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <em>
                                                                    Name
                                                                </em>
                                                            </th>
                                                             <th>
                                                                <em>
                                                                    Description
                                                                </em>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each attributes}}
                                                            <tr>
                                                                <td>
                                                                    <i>
                                                                        {{name}}
                                                                    </i>
                                                                </td>
                                                                <td>
                                                                    {{description}}
                                                                </td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        {{/if}}


                        {{#if properties}}                            
                            <div>
                                <table>
                                    <caption>
                                        <strong>
                                            <em>
                                                Properties
                                            </em>
                                        </strong>
                                    </caption>
                                    <colgroup>
                                        <col>
                                        </col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Values</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each properties}}
                                        <tr>
                                            <td>
                                                <b>
                                                    {{name}}
                                                </b>
                                            </td>
                                            <td>
                                                {{description}}
                                            </td>
                                            <td>
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <em>
                                                                    Name
                                                                </em>
                                                            </th>
                                                             <th>
                                                                <em>
                                                                    Description
                                                                </em>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each values}}
                                                            <tr>
                                                                <td>
                                                                    <i>
                                                                        {{value}}
                                                                    </i>
                                                                </td>
                                                                <td>
                                                                    {{description}}
                                                                </td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        {{/if}}

                        
                        {{#if functions}}                            
                            <div>
                                <table>
                                    <caption>
                                        <strong>
                                            <em>
                                                Functions
                                            </em>
                                        </strong>
                                    </caption>
                                    <colgroup>
                                        <col>
                                        </col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Parameters</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each functions}}
                                        <tr>
                                            <td>
                                                <b>
                                                    <code>
                                                        {{name}}
                                                    </code>
                                                </b>
                                            </td>
                                            <td>
                                                {{description}}
                                            </td>
                                            <td>
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <em>
                                                                    Name
                                                                </em>
                                                            </th>
                                                            <th>
                                                                <em>
                                                                    Type
                                                                </em>
                                                            </th>
                                                             <th>
                                                                <em>
                                                                    Description
                                                                </em>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each parameters}}
                                                            <tr>
                                                                <td>
                                                                    <i>
                                                                        {{name}}
                                                                    </i>
                                                                </td>
                                                                <td>
                                                                    {{type}}
                                                                </td>
                                                                <td>
                                                                    {{description}}
                                                                </td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        {{/if}}                        
                    </li>
                    <br>
                    <hr>
                    <br>
                {{/each}}
            </ul>
        </div>
    {{/with}}
  </main>
</div>