<div class='mb-1'>
  {{#if main}}
    <h3>
      {{name}}
    </h3>
  {{else}}
    <b>
      {{name}}
    </b>
  {{/if}}
</div>
<div class='mb-1'>
  ID:
  {{id}}
</div>
<div class='mb-1'>
  Gender:
  {{gender}}
</div>
<div class='mb-1'>
  Age:
  {{age}}
</div>